<head>
    <title>Calculator</title>
      <link rel="stylesheet" href="static/main.css" />
      
</head>
<body>
    <div >
    <div class="coluna-50" style="float: left">  
      <form action="/", method="POST">
        <h1>Calculate the distance from one point to Moscow Ring Road</h1>
        <h3> Enter the coordinates</h3>
        <input type='text' name='coordinates' required id='coordinates' pattern="(?=.*[,])(?:\.|,|[0-9]|\s)*"  title="Please enter the coordinates in the following format: c1,c2"> </input>
        <br>
        <input class="btn" type="submit" value="Calculate distance" /> 
        <br>
        <br>
        <h3> The distance is: </h3>
        <div>
            <h3> {{ result }}  Km </h3>             
        </div>
      </form>
    </div>
    <div class="image" class="coluna-50" style="float: right;">
      <img src="static/moscow-map.jpg" width="600" height="700"/>
    </div>
  </div>
</body>